



header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: .75em 1em;
  box-shadow: 0 4px 4px -2px black;
  background-color: #FFFAFB;
  }
h1{
    font-size: 25px;

}
body{
    background-color: #087e8B;
    text-align: center;
}
main{
 padding-top: .5in;
 margin-left: 1.3in;
 margin-right: 1.3in;
 background-color: #7de2d1;
 z-index: 50;
 
}
h2{
    background-color: #585856;
}

.name{
    font-size: 35px;
   
    float: left;
}

.links {
    font-size: 20px;
    padding-left: 4rem;
    float:right;
    padding-top: 17px;
    

}

 .links a {
    text-decoration: none;
    color: inherit;
    margin-left: 1.25em;
    outline: 10px;
    outline-color: black;
    border-bottom: 2px solid #000000;
 }
 .links b {
    text-decoration: wavy underline;
    color: inherit;
    margin-left: 1.25em;
    outline: 10px;
    border-bottom: 2px solid  #087e8B;
    display: inline-block;
    padding: .25em 0;
    background: #437ea5;
    color: #ffffff;

 }


 
form {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
div {
    padding: 20px;
}